<!doctype html>
<html>
<head>
    <title>Student Database</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h1>Edit Student</h1>
    <form method="post">
        Name: <input type="text" name="name" value="{{ student.Name }}"><br>
        Age: <input type="text" name="age" value="{{ student.Age }}"><br>
        Grade: <input type="text" name="grade" value="{{ student.Grade }}"><br>
        <input type="submit" value="Update">
    </form>
</body>
</html>